# Introduction to SQL for Excel Users ‚Äì Part 8: More Groups

[Original post](https://www.daveondata.com/blog/introduction-to-sql-for-excel-users-part-8-more-groups/)

## Groups of Groups in Excel

A powerful feature of Excel pivot tables is the ability to analyze groups of groups.

These types of analyses allow you to understand how quantities might vary in terms of a hierarchy of categories.

For example, the CallCenter data has a column for the Shift and also the WageType.

Using groups of groups we can use a pivot table to help answer the question, ‚ÄúDoes the staffing of LevelOneOperators vary based on the combination of Shift and WageType?‚Äù

The following screenshot illustrates a pivot table attempting to answer this question:

![call center pivot 1](08\callcenterpivot1.png)

excel pivot table
In the pivot table ‚òù we arranged the group hierarchy with Shift first and then WageTypesecond.

Excel allows you the freedom to define the groups hierarchy as you will.

For example, you could have just as easily specified WageType as the first group of the hierarchy and then Shift.

Here‚Äôs a screenshot to make this crystal:

![call center pivot 2](08\callcenterpivot2.png)

Excel allows you to create grouping hierarchies that are 3+ level deep if you would like.

In practical terms, very deep grouping hierarchies are difficult for the human üß† to work with, but it can be done.

Moving on to SQL‚Ä¶

## Groups of Groups in SQL

SQL also supports using groups of groups via GROUP BY.

You simply list the grouping hierarchy you would like column by column.

The following query will produce results similar to the first pivot table in this post:

In [ ]:
SELECT FCC.Shift
      ,FCC.WageType
      ,SUM(FCC.LevelOneOperators) AS TotalLevelOneOperators
      ,MIN(FCC.LevelOneOperators) AS MinLevelOneOperators
      ,MAX(FCC.LevelOneOperators) AS MaxLevelOneOperators
FROM FactCallCenter FCC
GROUP BY FCC.Shift, FCC.WageType

Wait! Something‚Äôs not right here. ü§î

As I mentioned in the last post, you have to explicitly provide the DB the sort order you want in your query.

Here‚Äôs the improved SQL code:

In [ ]:
SELECT FCC.Shift
      ,FCC.WageType
      ,SUM(FCC.LevelOneOperators) AS TotalLevelOneOperators
      ,MIN(FCC.LevelOneOperators) AS MinLevelOneOperators
      ,MAX(FCC.LevelOneOperators) AS MaxLevelOneOperators
FROM FactCallCenter FCC
GROUP BY FCC.Shift, FCC.WageType
ORDER BY FCC.Shift, FCC.WageType

As with Excel, you can alter the grouping heirarchy as you see fit.

The following SQL aligns to the second pivot table in this post:

In [ ]:
SELECT FCC.WageType
      ,FCC.Shift
      ,SUM(FCC.LevelOneOperators) AS TotalLevelOneOperators
      ,MIN(FCC.LevelOneOperators) AS MinLevelOneOperators
      ,MAX(FCC.LevelOneOperators) AS MaxLevelOneOperators
FROM FactCallCenter FCC
GROUP BY FCC.WageType, FCC.Shift
ORDER BY FCC.WageType, FCC.Shift

As with Excel, you can create very deep group hierarchies in SQL ‚Äì just add more columns to your GROUP BY!

## Group Calculations in Excel

When you work with Excel pivot tables you gain access to a number of predefined calculations that work on the groups in the pivot table.

![excel group calcs](08\excelgroupcalcs.png)

What make the above calculations interesting is that they are ‚Äúgroup aware‚Äù and produce a single return value for each group in a pivot table.

I will add the average of LevelOneOperators to the first the pivot table:

![call center pivot 3](08\callcenterpivot3.png)

excel pivot table with average calculation
SQL also has a collection of calculations that works in the same way.

## Group Calculations in SQL

The groups calculations in SQL (as I mentioned in the last post) are known as aggregate functions.

As with Excel, SQL has a number of functions that work on groups of values, but only a subset (in my experience, anyway) are used regularly:

SUM ‚Äì Add up all the values in a group.
COUNT ‚Äì Counts the number of items in a group.
MIN ‚Äì The minimum value in a group.
MAX ‚Äì The maximum value in a group.
AVG ‚Äì The average (mean) value of the group.
Just for üòÅ, here‚Äôs a SQL query using all 5 of the above aggregate functions (NOTE ‚Äì I‚Äôm grouping just by Shift alone):

In [ ]:
ELECT FCC.Shift
      ,COUNT(FCC.FactCallCenterID) AS RecordCount
      ,SUM(FCC.LevelOneOperators) AS TotalLevelOneOperators
      ,MIN(FCC.LevelOneOperators) AS MinLevelOneOperators
      ,MAX(FCC.LevelOneOperators) AS MaxLevelOneOperators
      ,AVG(FCC.LevelOneOperators) AS AvgLevelOneOperators
FROM FactCallCenter FCC
GROUP BY FCC.Shift
ORDER BY FCC.Shift

Excellent!

That‚Äôs it for today‚Äôs post.

## The Learning Arc

In the next post I start the discussion of a cool feature of T-SQL ‚Äì window functions.

This begins the journey to one of my favorite things in T-SQL ‚Äì the mighty ROW_NUMBER() function!

Stay healthy and happy data sleuthing!