# Introduction to SQL for Excel Users ‚Äì Part 4: Basic SELECTs

[Original post](https://www.daveondata.com/blog/introduction-to-sql-for-excel-users-part-4-basic-selects/)

## SELECTing Columns in SQL

While the designers of SQL tried really hard to make it as easy to learn as possible, arguably they did miss the mark in some areas.

One way is that SQL is written such that it doesn‚Äôt exactly follow how the database actually processes your SQL.

This will make more sense as we move along, so I won‚Äôt belabor it now.

When you issue your SQL (called a query) to the database (DB) the first thing the DB wants to know is which table (and later in the series, tables) you are accessing.

Right now we are working with just the FactCallCenter table, so the following is a legit SQL snippet:

```
FROM FactCallCenter
```

That‚Äôs pretty intuitive, no?

SQL also has a handy feature that you can provide a nickname (an alias) for the table. It is considered by many that providing aliases in your SQL queries is a good coding practice.

More importantly, I consider this good SQL coding practice and this is my blog series. üòÅ

Technically, there are many correct ways to code an alias. I will just use one simple form as follows:

```
FROM FactCallCenter FCC
```

Now we don‚Äôt have to type FactCallCenter in our query, we can just use the FCC alias. Sweet!

Next up, the DB will apply any filters you would like to the data. Right now we don‚Äôt have any filters, so the DB moves on to which columns of data you would like pulled from the table.

The SQL keyword SELECT tells the DB which columns from the table you want.

SQL also supports a wildcard, *, that tells the DB to give you all the columns from the table.

Think of the following SQL query as telling the DB, ‚ÄúI want all the columns from the FactCallCenter table, please.‚Äù

```
SELECT *
FROM FactCallCenter FCC
```

Generally speaking, it is considered bad practice to use the wildcard. The preferred practice is explicitly code the columns that you want returned.

Even better is to be very specific about the columns by using the alias, like so:

In [ ]:
SELECT FCC.WageType
      ,FCC.Shift
      ,FCC.LevelOneOperators
      ,FCC.LevelTwoOperators
      ,FCC.Calls
      ,FCC.Date
FROM FactCallCenter FCC

When you execute the above SQL query, you get what looks just like what we saw in Excel.

## SELECTing and Filtering in SQL

In Part 3 I covered filtering in SQL. Here‚Äôs a reminder from that post:

(FCC.Shift = 'PM1' OR FCC.Shift = 'PM2') AND (FCC.LevelTwoOperators <= 10)

NOTE ‚Äì I‚Äôm using the table alias for FactCallCenter!

OK, those are the SQL predicates that define the filters. We just need one more thing.

SQL was designed to be as intuitive as possible (no, really!) and it has an English-like syntax.

We use the keyword WHERE in SQL to tell the database, ‚ÄúHey! Got some filters coming through‚Ä¶‚Äù

Here‚Äôs how the filtering part of the query actually looks:

```
WHERE (FCC.Shift = 'PM1' OR FCC.Shift = 'PM2') AND
      (FCC.LevelTwoOperators <= 10)
```

Awesome!

The following T-SQL puts everything in this post together to make a legit query:

In [ ]:
SELECT FCC.WageType
      ,FCC.Shift
      ,FCC.LevelOneOperators
      ,FCC.LevelTwoOperators
      ,FCC.Calls
      ,FCC.Date
FROM FactCallCenter FCC
WHERE (FCC.Shift = 'PM1' OR FCC.Shift = 'PM2') AND
      (FCC.LevelTwoOperators <= 10)

As mentioned above, here‚Äôs how the DB logically thinks about the query:

1. ‚ÄúOK, Dave wants to pull data from the FactCallCenter table‚Äú
1. ‚ÄúDave wants to give the table the alias FCC‚Äú
1. ‚ÄúDave wants only rows WHERE the Shift column has values of 'PM1' OR 'PM2' AND the LevelTwoOperators column is <= 10‚Äú
1. ‚ÄúLastly, Dave is SELECTing to see only the WageType, Shift, LevelOneOperators, LevelTwoOperators, Calls, and Date columns‚Äú

Once again, notice how everything aligns between Excel and SQL?

Stay tuned, it gets even better!

## The Learning Arc

There is a lot more awesomeness in SQL SELECTs, you will see this come up again and again throughout the series.

Next time we‚Äôll see what the cool kids call ‚Äúfeature engineering‚Äù ‚Äì creating new columns in our SELECTs from existing columns.

We‚Äôre getting to the point where you‚Äôll likely want access to SQL Server. Be sure to check out my YouTube channel for tutorial videos.

Stay healthy and happy data sleuthing!