# Introduction to SQL for Excel Users ‚Äì Part 13: Basic Dates

[Original post](https://www.daveondata.com/blog/introduction-to-sql-for-excel-users-part-13-basic-dates/)

## The Time Dimension

The time dimension is arguably the most important consideration in business analytics.

Whether you are analyzing business performance (e.g., as measured by a KPI) or crafting features for a customer churn predictive model, time is a critical aspect of the analysis.

Now, there‚Äôs a problem.

Working with time is difficult and there‚Äôs no real way of making it simple.

From different date formats used across the world (e.g., does 02/05/2020 mean Feb 5th or May 2nd?) to timezones (e.g., is that date Mountain Time or UTC?), there‚Äôs a lot to consider when working dates and times ‚Äì whether you‚Äôre working in Excel or SQL.

## Language-Neutral Literals

OK, as I mentioned above, the way you represent date strings (aka ‚Äúliterals‚Äù) matters depending on the language you speak.

For example, here‚Äôs two valid representations of Feb 5th, 2020:

02-05-2020 (US English, my personal favorite üòâ)
05-02-2020 (British English, which is pretty cool)
Therefore, throughout this blog series I will be using language-neutral literals to represent dates and times.

Here‚Äôs the language neutral reprentation of Feb 5th, 2020:

2020-02-05
OK, that covers dates.

What about times?

Sorry to my US readers, but the language-neutral represenation uses the 24-hour clock in the following format:

HH:MM:SS
I can easily combine the two to represent 1:34:44 PM on Feb 5th, 2020 (BTW ‚Äì this date has no significance, I just pulled it out of thin air):

2020-02-05 13:34:44
For those of you that are familiar, I‚Äôm ignoring timezones right now.

With the representations of dates and time out of the way, I‚Äôll dive in.

## Basic Dates in T-SQL

It shouldn‚Äôt surprise you to know that SQL Server has extensive support for date and times data types.

As with Excel, you can use language-specific literals (e.g., US English formats) to represents dates and time, but it is considered best practice to use language-neutral literals.

However, unlike Excel, SQL uses explicit data typing.

Using the CAST (introduced in Part 5) function, I can transform a literal explicitly to a date/time-related data type:

In [ ]:
-- 2020-02-05 13:34:44.000
SELECT CAST('2020-02-05 13:34:44' AS DATETIME)

-- 2020-02-05
SELECT CAST('2020-02-05 13:34:44' AS DATE)

-- 13:34:44
SELECT CAST('2020-02-05 13:34:44' AS TIME)

In SQL, types matter.

A lot.

Take the following example:

In [ ]:
-- 2020-02-05 00:00:00.000
SELECT CAST('2020-02-05' AS DATETIME)


Notice that when transforming a DATE to a DATETIME a TIME is automagically added!

In this case, T-SQL assumes a TIME of midnight (i.e., 00:00:00) when none is provided to a DATETIME.

Also notice that DATETIMEs go down to the millisecond (ie., the .000 part). üòÅ

What this means in practical terms is that the DATETIME of '2020-02-05 13:34:44' is not the same as the DATE of '2020-02-05'.

I can‚Äôt stress this enough.

So many SQL bugs (including many written by yours truly) originate in performing logic on dates/times (e.g., comparisons) and forgetting these subtleties.

As with Excel, the subtleties of how SQL handles DATEs, TIMEs, and DATETIMEs carry over to the date/time-related SQL functions such as CURRENT_TIMESTAMP:

In [ ]:
SELECT CURRENT_TIMESTAMP AS CurrentDateAndTime
    ,CAST(CURRENT_TIMESTAMP AS DATE) AS CurrentDate
    ,CAST(CURRENT_TIMESTAMP AS TIME) AS CurrentTime

The SQL CURRENT_TIMESTAMP function is analogous to the Excel NOW function.

The results ‚òù are interesting for the following reasons:

- The CURRENT_TIME function returns a T-SQL DATETIME
- Notice by default that T-SQL TIMEs go to down 100 nanoseconds (i.e., .2866667)! üò≤

You can control how much TIME accuracy you would like:

To be crystal, TIME and TIME(7) are the same thing.

That‚Äôs enough for this post, I will be covering more about working with dates and times in subsequent tests.

## The Learning Arc

Now that I‚Äôve covered the basics of dates and times in SQL, I can use some of the T-SQL date/time functions to do some cool analyses.

Specifically, I will be working with the DATEDIFF function.

That will enable me to revist the RFM analysis and calculate the Recency of purchases.

Stay healthy and happy data sleuthing!